.DS_Store
Brewfile.lock.json
**/kitty.conf.bak

**/neofetch/images/

**/github-copilot/

**/.config
!**/.config/.jira/
!**/.config/flutter/
!**/.config/gh-dash/
!**/.config/github-copilot/
!**/.config/kitty/
!**/.config/nvim/
!**/.config/raycast/
!**/.config/tmux/
